<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.dly.dao.CountyDAO" >  


	<select id="getCountyAll"   resultType="com.dly.entity.County_m">
		select * from t_county
	</select>
	
</mapper>  