<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.dly.dao.GroupDAO" >  

	<resultMap type="com.dly.entity.Group_m" id="getGroupAndLevel">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="title" property="title"/>
		<result column="text" property="text"/>
		<result column="moudle_id" property="moudleId"/>
		<result column="image_id" property="imageId"/>
		<result column="istp" property="istp"/>
		<result column="video_url" property="videoUrl"/>
		<result column="image_url" property="imageUrl"/>
		<result column="county_id" property="countyId"/>
		<association property="level" javaType="com.dly.entity.Level">
			<id column="lid" property="id"/>
			<result column="level" property="level"/>
		</association>
		
	</resultMap>
	<select id="test"  resultMap="getGroupAndLevel">
	SELECT g.`id` id,g.`title` title,g.`text` TEXT,g.`moudle_id` moudle_id,g.`istp` istp,g.`video_url` video_url,g.`county_id` county_id,g.`image_id` image_id,g.`level_id` lid,l.`level` LEVEL  FROM t_group g LEFT JOIN t_level l ON g.`level_id`=l.`id`

	</select>
	<select id="getGroupByCountyIdAndMoudleIdAndLevelId" parameterType="com.dly.entity.Group_m"  resultType="com.dly.entity.Group_m">
		select * from t_group  
		<where>
			<if test="countyId!=null">
				county_id=#{countyId}
			</if>
			<if test="moudleId!=null">
				and moudle_id=#{moudleId}
			</if>
			<if test="levelId!=null">
				and level_id=#{levelId}
			</if>
		</where>
	</select>
	<select id="getAll"   resultType="com.dly.entity.Group_m">
		select * from t_group
	</select>
	
</mapper>  