<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.dly.dao.ImageDAO" >  


	<select id="getImageAll"   resultType="com.dly.entity.Image">
		select id,image_url imageUrl,image_name imageName from t_image where type='0'
	</select>
	
	
</mapper>  