<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.dly.dao.LevelDAO" >  


	<select id="getLevelAll"   resultType="com.dly.entity.Level_m">
		select * from t_level
	</select>
	
</mapper>  