<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.dly.dao.MoudleDAO" >  


	<select  id="getMoudleAll"   resultType="com.dly.entity.Moudle_m">
		select id,title,image_id imageId,dsf_url dsfUrl from t_moudle
	</select>
	
	<insert id="addMoudle" useGeneratedKeys="true" keyProperty="id" parameterType="com.dly.entity.Moudle_m" >
		insert into t_moudle (title,image_id,dsf_url) value(#{title},#{imageId},#{dsfUrl})
	</insert>
	
	<update id="editMoudleById" parameterType="com.dly.entity.Moudle_m">
		update t_moudle 
		<set>
			<if test="title!=null">
			title=#{title},
			</if>
			<if test="imageId!=null">
			image_id=#{imageId},
			</if>
			<if test="dsfUrl!=null">
			dsf_url=#{dsfUrl},
			</if>
		</set>
			where id=#{id}
	</update>
	<delete id="deleteMoudleById" parameterType="int">
		delete from t_moudle where id=#{id}
	</delete>
</mapper>  