<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.dly.dao.ShowDAO" >  


	<select id="getShow"   resultType="com.dly.entity.Show">
		  SELECT image.title title ,image.image_count image_count,video.video_count video_count,gc.group_count group_count,group_count+video_count+image_count SUM FROM  (SELECT m.`title`, SUM(gi.count_image) image_count FROM  
 (SELECT  group_id,COUNT(image_id) count_image FROM t_group_image GROUP BY group_id)
  gi JOIN t_group g ON g.`id`=gi.group_id RIGHT JOIN t_moudle m ON m.id=g.`moudle_id` 
  WHERE m.`title` LIKE '%篇%' OR m.`title` LIKE '%自然%' OR m.`title` LIKE '%名胜%' GROUP BY m.`title`) image JOIN  
  (SELECT m.title,COUNT(g.`video_id`) video_count  FROM 
  t_group  g RIGHT JOIN t_moudle m ON g.`moudle_id`=m.`id` 
  WHERE m.`title` LIKE '%篇%' OR m.`title` LIKE '%自然%' OR m.`title` LIKE '%名胜%'   GROUP BY m.title) video ON image.title=video.title JOIN 
  (SELECT m.title,COUNT(g.id) group_count 
FROM t_moudle m  LEFT JOIN t_group g ON g.moudle_id=m.id   GROUP BY m.title) gc ON  gc.title=image.title ORDER BY image.title DESC
	
	</select>
	
</mapper>  